*.class

#package file
*.war
*.ear

#kdiff3 ignore
*.orig

#maven ignore
target/

#clipse ignore
.settings/
.project
.classpatch

#idea
.idea/
/idea/
*.ipr
*.iml
*.iws

#tmp file
*.log
*.cache
*.diff
*.patch
*.tmp

#system ignore
.DS_Stroe
Thumbs.db